@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root{
--blue: #335c67ff;
--light: #fff3b0ff;
--yellow: #e09f3eff;
--lightred: #9e2a2bff;
--rosewood: #540b0eff;
}
*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0; 
  background-color: var(--blue);
  display: flex;
  align-items:  center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container{
  height: 50vh;
  width: 50vw;
  padding: 20px 20px;
  border-radius: 10%;
  background-color: var(--yellow);
  text-align: center;

  
}
.output-container{
  display: flex;
  margin: 10px 10px;
  padding: 20px 20px;
  background-color: var(--light);
  border-radius: 7px;
  position: relative;
}
.output-area{
  background-color: white;
  padding: 5px 5px;
  width: 250px;
  outline: 1px solid var(--blue);
}
i{
  position: absolute;
  right: 20px;
  bottom: 25px;
  font-size: 20px;
  color: var(--rosewood);
  cursor: pointer;

}
.length-container{
  display: flex;
  margin: 10px 10px;
  padding: 10px 10px;
  background-color: var(--light);
  border-radius: 7px;
  position: relative;

}
#length-checkbox{
  position: absolute;
  right: 50px;
  width: 20%;
}
.uppercase-container{
  display: flex;
  
  margin: 10px 10px;
  padding: 7px 7px;
  background-color: var(--light);
  border-radius: 7px;
  

}
#uppercase-checkbox{

}
.lowercase-container{
  display: flex;
  
  margin: 10px 10px;
  padding: 7px 7px;
  background-color: var(--light);
  border-radius: 7px;

}
#lowercase-checkbox{

}
.numbers-container{
  display: flex;
  
  margin: 10px 10px;
  padding: 7px 7px;
  background-color: var(--light);
  border-radius: 7px;

}
#numbers-checkbox{

}
.symbols-container{
  display: flex;
  
  margin: 10px 10px;
  padding: 7px 7px;
  background-color: var(--light);
  border-radius: 7px;

}
#symbols-checkbox{

}
.submit-button{

}

